<h1>Login</h1> <br><br>

<%= form_for @user do |f| %>
    <%= f.label :name %> <br>
    <%= f.select(:name, User.all.map {|user| user.name}, {prompt: "Choose a name"}) %> <br>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br>
    <%= f.submit %>
<% end %>