<div> 
    <%= @user.name %> <br>
</div> 
<div> 
    happy:<%= @user.happiness %><br>
</div> 
<div> 
    <%= @user.tickets %><br>
</div> 
<div> 
    <%= @user.height %><br>
</div> 
<div> 
   Mood: <%= @user.nausea %><br>
</div> 