<div> 
    <%= @user.name %> <br>
</div> 
<div> 
    happy:<%= @user.happiness %><br>
</div> 
<div> 
    Tickets: <%= @user.tickets %>
</div> <br>
<div> 
    <%= @user.height %><br>
</div> 
<div> 

   Mood: sad<br>
</div> 

 <% @user.attractions do |attract| %>
        <%= attract.name %>
<% end %>   

<%= link_to "See attractions", attractions_path %>