<h1> All Attractions </h1>

<ul>
<% if @user.admin? %>
    <% Attraction.all.each do |attr| %>
        <li><%= attr.name %> - <%= attr.tickets %> tickets - <%= link_to "Show #{attr.name}", attraction_path(attr) %></li>
    <% end %>

<% elsif !@user.admin? %>
    <% Attraction.all.each do |attr| %>
        <li><%= attr.name %> - <%= attr.tickets %> tickets - <%= link_to "Go on #{attr.name}", attraction_path(attr) %></li>
    <% end %>
<% end %>

</ul>

<%= link_to "New Attraction", new_attraction_path %>